<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Detail Page</title>
</head>
<body>

<ul>
	{% if post.image %}
		<img src="{{ post.image.url }}" style="width:200px; height: 200px;">
	{% endif %}
	<li>{{ post.title }}</li>
	<li>{{ post.author }}</li>
	<li>{{ post.created_date }}</li>
	<li>{{ post.content}}</li>
	<!-- <li>{{ post.status }}</li> -->
	<br>
	<a href="{% url 'home' %}">Back</a>
	<hr>
</ul>



<h3>{{ comment.count }} Comments</h3>


{% for cmt in comment %}

	<p>{{ cmt.name }}</p>
	<p>{{ cmt.created_date }}</p>
	<p>{{ cmt.body| linebreaks }}</p>
	<hr>
{% endfor %}

<br>
<hr>
{% if new_comment %}

	<p>Your comment is waiting moderation</p>

{% else %}

<h2>Leave Comment</h2>
<form method="POST">
	{% csrf_token %}
	{{comment_form.as_p}}
	<button type="submit">Submit</button>
</form>

{% endif %}



</body>
</html>